body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.file-panel {
  top: 0px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  background-color: #b79c58;
}

.editor {
  top: 0px;
  bottom: 0px;
  left: 160px;
  right: 0px;
  position: absolute;
}

.text-panel {
  position: absolute;
  bottom: 0px;
  top: 0px;
  background-color: #2F3129;
}

.test-panel {
  position: absolute;
  bottom: 0px;
  top: 0px;
  background-color: #49483E;
}

.add-btn {
  position: absolute;
}

.resize-glyph {
  padding-left: 2px;
  font-size: 14px;
}

.add-glyph {
  font-size: 10px;
}

.panel-divider {
  position: absolute;
  box-sizing: border-box;
  background-color: #b79c58;
  border: 1px solid #8C8982;
  bottom: 0px;
  top: 0px;
}
