doctype html
html(lang="en")
  head
    title TDSQL
    link(rel="stylesheet", type="text/css", href="/assets/bundle.css")
    meta(charset="UTF-8")
  body
    #content
    script(src="/assets/bundle.js")
